.ball {
    //border: 1px solid black;
    width: 36px;
    display: inline-block;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    margin: 0 4px;
    background-color: #6f7985; //rgba(211, 211, 211, 0.39);
    font-weight: bold;
    color: white;
}

.crown-ball {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid black;
    line-height: 30px;
}

.date {
    display: block;
    text-align: center;
    font-weight: bold;
}

.title {
    display: block;
    font-weight: bold;
}

.title-result {
    display: block;
    font-size: 130%;
}

.ball-container {
    height: 100px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 16px auto;
}    

#result {
    text-align: center;
    padding: 32px 0;
    border: 1px dashed lightgrey;    
}    